{% extends 'base.html' %}
{% load my_tags %}

{% block title %}Каталог | Pulse Store{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm h-100">
            <div style="height: 250px; overflow: hidden; background-color: #f8f9fa;">
                <img src="{{ product.image|media_filter }}"
                     class="card-img-top"
                     alt="{{ product.name }}"
                     style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mb-2">{{ product.name }}</h5>
              <div class="mt-auto">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group w-100">
                    <a class="btn btn-primary w-100" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="col-12 text-center py-5">
            <p class="lead">Товары пока не добавлены.</p>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}